

<% @contacts.each do |contact| %>
  <h1 class="title is-5">Name: <%=contact.name%></h1>
  <h1 class="title is-5">E-mail: <%=contact.email%></h1>
  <h1 class="title is-5">Phone: <%=contact.phone%></h1>


<% end %>
