// Place all the styles related to the checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.confirmationOrderTable{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;


  h1{
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }
}