// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mainPanel{
 display: flex;
 justify-content: space-between;
}

.leftPanel{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: 50px;
  li{
    list-style: none;
  }

}

.rightPanel{
  width: 20%;
  border: medium;
  border-color: red($color: #000000);
}