// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mainPanel{
 display: flex;
 justify-content: space-between;
}

.leftPanel{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 50px;
}

td {
  border-bottom: 1px solid black;
  text-align: center;

}
tr{
 line-height: 50px;
 text-align: center;
}


.stock{
width: auto;
text-align: center;


}

.rpHeader{
  line-height: 50px;
}

.rpBody{
  margin-bottom: 20px;
}

.rpFooter{
  h2{
    margin-top: 30px;
    font-weight: bold;
  }
  h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
  }
}

#selectProvince{
  margin-bottom: 10px;
}

.rightPanel{
  width: 25%;

  border-left: 1px solid black;
  padding-left: 10px;

  h1{
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

}

.middlePanel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  border-left: 1px solid black;
  padding-left: 50px;

  h1{
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

}


#form_user{
  form{
    display: block;
    width: 300px;
    clear: both;
   input{
    width: 100%;
    clear: both;
    margin-bottom: 5px;
   }
   .button{
     margin-top: 20px;
   }
  }
}
.btn-hide-class{
  display:none;
}

