.searchProduct{
  display: flex;

  margin-bottom: 30px;

  #selectCategory{
    margin: 0px;
    margin-right: 5px;
  }

  #searchProductInput{
    justify-content: center;
    display: flex;
  }
}

#topHeader{
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#shoppingCartHeader{
  display: block;
  margin-right: 5px;
}

form{
  display: flex;
}
.paginate{
  margin-left: 100px;

}

.container{
background:#f0f0f5;
padding-left: 10px;
padding-right: 10px;
width: 100%;
min-height: 800px;

}

header{
  margin-bottom: 2rem;

}
.select{
  margin-bottom: 2rem;
}



 p {

   overflow: hidden;
   text-overflow: ellipsis ;
   max-height: fit-content;

 }