<h1 class="title is-4"><%=@category.name%></h1>

<div class="columns is-multiline">
<% @category.products.each do |categoryProduct| %>
  <div class="column is-one-quarter">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title"><%= link_to categoryProduct.title, categoryProduct %></p>
      </header>
      <div class="card-image">
        <figure class="image is-4by3">
        <%=link_to image_tag(categoryProduct.image, size: "100"), categoryProduct%>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p> Price: <%=categoryProduct.price%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>