<div class="columns is-multiline">
<% @products.each do |product| %>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure >
              <%=image_tag(product.image, size: "100")%>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= link_to product.title, product %></p>
            <p> <%=product.price%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>